FRONTEND_DOMAINS=<frontendDomain1.com, frontendDomain2.com>
BACKEND_DOMAINS=<backendDomain1.com, backendDomain2.com>
JWT_TOKEN_GENERATOR_SECRET_KEY=<jwtGenerationSecretKeyWithAtLeast32Chars>
POSTGRES_USER=root
POSTGRES_PASSWORD=<databaseRootPassword>
ADMIN_EMAIL=<AdminEmailAddress>
